body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#container {
    height: 900px;
    max-width: 75em;
    background-color: bisque;
    margin: 0 auto;
    padding: 0;
}
    
main {
    height: 100%;
    width: 100%;
}

#canvas {
    display: block;
    background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
#timer {
    height: 50px;
    width: 200px;
    background-color: blue;
    text-align: center;
    font-size: 40px;
}