html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-image: url("../files/pgBg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

.gameInfo {
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-color: #87CEEB;
    width: 600px;
    border: 5px solid blue;
    text-align: center;
}

.pointBonus {
    width: 50%;
    text-align: center;
    border: 3px solid blue;
    border-bottom: none;
    top: 20%;
}

.messages, .level {
    position: absolute;
    top: 55%;
    left: 25%;
    display: block;
    width: 600px;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.level {
    top: 10%;
    left: 25%;
}

#message {
    color: red;
    text-align: center;
    font-size: 26px;
}

#levelNumber {
    color: green;
    text-align: center;
    font-size: 28px;
}

h2 {
    font-size: 25px;
}

#container {
    max-width: 75em;
    margin: 50px auto;
    padding: 0;
    position: relative;
    text-align: center;
}
    
main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#canvas {
    display: block;
    background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-color: white; */
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
}

#start {
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 45.8%;
    top: 33%;
    height: 60px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    cursor: pointer;
}
