html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../files/bodyBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
}

.gameInfo {
    margin: 0 auto;
    background-color: #87CEEB;
    width: 600px;
    border: 5px solid blue;
    text-align: center;
}
#container {
    max-width: 75em;
    margin: 200px auto;
    padding: 0;
}
    
main {
    height: 100%;
    width: 100%;
}

#canvas {
    display: block;
    /* background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
}

#start {
    position: absolute;
    display: block;
    height: 60px;
    width: 80px;
    left: 48%;
    top: 48%;
    background-color: orange;
}