html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-image: url("../files/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
}

.gameInfo {
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-color: #87CEEB;
    width: 600px;
    border: 5px solid blue;
    text-align: center;
}

.pointBonus {
    width: 50%;
    text-align: center;
    border-right: 3px solid black;
    top: 20%;
}

.messages {
    width: 600px;
    margin: 0 auto;
    height: 50px;
}

h2 {
    font-size: 25px;
}

#container {
    max-width: 75em;
    margin: 50px auto;
    padding: 0;
}
    
main {
    height: 100%;
    width: 100%;
}

#canvas {
    display: block;
    /* background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
}

#start {
    position: absolute;
    display: block;
    height: 60px;
    width: 80px;
    left: 47%;
    top: 41%;
    background-color: orange;
}

#message {
    position: absolute;
    display: block;
    left: 42%;
    top: 45%;
    height: 100px;
    width: 200px;
    color: red;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
}
