html {
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    background-image: url("../files/pgBg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

#container {
    display: grid;
    grid-gap: .5em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .40fr .2fr .40fr;
    grid-template-areas: "top-left top-middle top-right"
        "game game game";
    margin: 0px auto;
    padding: 0;
    position: relative;
    text-align: center;
    max-width: 50em;
}

.top-left, .top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.top-left {
    grid-area: top-left;
}

.top-right {
    grid-area: top-right;
}

.top-middle {
    grid-area: top-middle;
    justify-self: stretch;
    align-self: center;
}

.level {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 25%;
}
#levelNumber {
    color: green;
    font-size: 28px;
}

.messages {
    /* display: block; */
    position: absolute;
    text-align: center;
    /* left: 38%; */
    top: 48%;
    width: 90vw;
    left: 5%;
}

#message {
    color: red;
    text-align: center;
    font-size: 26px;
}


h2 {
    font-size: 25px;
}


#canvas {
    display: block;
    background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-color: white; */
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
    grid-area: game;
    width: 100%;
    height: 100%;
}

#start {
    /* height: 60px;
    width: 100px; */
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    cursor: pointer;
    height: 100%;
    width: 100%;
}