html {
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../files/pgBg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    overscroll-behavior-y: contain;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Snowburst One', cursive;
    font-size: 50px;
}

#container {
    overscroll-behavior-y: contain;
    display: grid;
    grid-gap: .5em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .40fr .2fr .40fr;
    grid-template-areas: "top-left top-middle top-right"
        "game game game";
    margin: 0px auto;
    padding: 0;
    position: relative;
    text-align: center;
    height: 85%;
    max-width: 600px;
}

.top-left {
    grid-area: top-left;
}

.top-right {
    grid-area: top-right;
}

.top-left, .top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 100%;
    line-height: 50%;
}

.top-middle {
    grid-area: top-middle;
}

.level {
    left: 38%;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 15%;
}

#levelNumber {
    color: green;
    font-size: 28px;
}

.messages {
    display: block;
    position: absolute;
    text-align: center;
    left: 38%;
    top: 48%;
    width: 40%;
    left: 30%;
}

#message {
    color: red;
    text-align: center;
    font-size: 26px;
}

h2 {
    font-size: .75rem;
}

#canvas {
    box-sizing: border-box;
    display: block;
    background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
    grid-area: game;
    overscroll-behavior-y: contain;
}

#start {
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    cursor: pointer;
    height: 100%;
    width: 100%;
}