body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../files/pgBg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

.gameInfo {
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-color: #87CEEB;
    width: 600px;
    border: 5px solid blue;
    text-align: center;
}

.pointBonus {
    width: 50%;
    text-align: center;
    border: 3px solid blue;
    border-bottom: none;
    top: 20%;
}

.messages, .level {
    display: block;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 25vw;
    align-items: center;
}

#message {
    color: red;
    text-align: center;
    font-size: 26px;
}

#levelNumber {
    color: green;
    text-align: center;
    font-size: 28px;
}

h2 {
    font-size: 25px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75vw;
    max-height: 75vh;
    margin: 50px auto;
    padding: 0;
    position: relative;
    text-align: center;
}

#canvas {
    display: block;
    background-image: url("../files/Background-Snow.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-color: white; */
    margin: 0 auto;
    text-align: center;
    border: 5px solid blue;
}

#start {
    height: 60px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    cursor: pointer;
}